.hesc-iframe {
    background: transparent;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

@mixin hesc-iframe-wrap {
    position: relative;
    z-index: 999;
}